@page "/"

<PageTitle>Home</PageTitle>

<div class="p-3">
    <h5>Welcome to The Bug Tracker!</h5>
</div>

<MudPaper Class="p-3 my-3">
    <MudButton Color="Color.Primary" Variant="Variant.Filled">Primary Button</MudButton>
    <MudButton Color="Color.Secondary" Variant="Variant.Filled">Secondary Button</MudButton>
    <MudButton Color="Color.Tertiary" Variant="Variant.Filled">Tertiary Button</MudButton>
    <MudButton Color="Color.Success" Variant="Variant.Filled">Success Button</MudButton>
    <MudButton Color="Color.Info" Variant="Variant.Filled">Info Button</MudButton>
    <MudButton Color="Color.Warning" Variant="Variant.Filled">Warning Button</MudButton>
    <MudButton Color="Color.Error" Variant="Variant.Filled">Error Button</MudButton>
    <MudButton Color="Color.Dark" Variant="Variant.Filled">Dark Button</MudButton>
</MudPaper>

<MudPaper Class="p-3 my-3">
    <MudButton Color="Color.Primary" Variant="Variant.Outlined">Primary Button</MudButton>
    <MudButton Color="Color.Secondary" Variant="Variant.Outlined">Secondary Button</MudButton>
    <MudButton Color="Color.Tertiary" Variant="Variant.Outlined">Tertiary Button</MudButton>
    <MudButton Color="Color.Success" Variant="Variant.Outlined">Success Button</MudButton>
    <MudButton Color="Color.Info" Variant="Variant.Outlined">Info Button</MudButton>
    <MudButton Color="Color.Warning" Variant="Variant.Outlined">Warning Button</MudButton>
    <MudButton Color="Color.Error" Variant="Variant.Outlined">Error Button</MudButton>
    <MudButton Color="Color.Dark" Variant="Variant.Outlined">Dark Button</MudButton>
</MudPaper>

<MudPaper Class="p-3 my-3">
    <MudButton Color="Color.Primary" Variant="Variant.Text">Primary Button</MudButton>
    <MudButton Color="Color.Secondary" Variant="Variant.Text">Secondary Button</MudButton>
    <MudButton Color="Color.Tertiary" Variant="Variant.Text">Tertiary Button</MudButton>
    <MudButton Color="Color.Success" Variant="Variant.Text">Success Button</MudButton>
    <MudButton Color="Color.Info" Variant="Variant.Text">Info Button</MudButton>
    <MudButton Color="Color.Warning" Variant="Variant.Text">Warning Button</MudButton>
    <MudButton Color="Color.Error" Variant="Variant.Text">Error Button</MudButton>
    <MudButton Color="Color.Dark" Variant="Variant.Text">Dark Button</MudButton>
</MudPaper>



