<footer>
    <div class="row g-3 align-items-center">
        <div class="col-12 col-md-4 text-center">
            @* CTA *@
            <img src="images\TheBugTrackerLogoBluV3.png" height="30" />
            <MudText Typo="Typo.body1">
                Learn to build this at
                <MudLink Href="https://coderfoundry.com" Typo="Typo.inherit" Color="Color.Tertiary">coderfoundry.com</MudLink>!
            </MudText>
        </div>
        <div class="col-12 text-center col-md-4 text-md-end">
            @* Links *@
            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Tertiary">API Spec</MudLink>&bull;
            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Tertiary">Portfolio</MudLink>&bull;
            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Tertiary">Blog</MudLink>
        </div>
        <div class="col-12 text-center col-md-4 text-md-start order-md-first">
            @* Logo + Copyright *@
            <img src="images/CF_Logo_N.png" height="40" />
            <MudText Typo="Typo.body2" Color="Color.Primary">&copy; @DateTime.Now.Year Coder Foundry</MudText>
        </div>
    </div>
</footer>




