﻿.footerStyle {
    background-color: var(--ma-theme-850);
}

.footerStyle a {
    color: var(--ma-theme-200);
}

.footerStyle a:hover {
    color: var(--ma-theme-core);
}


.bi {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}
